/*! npm i && npm run build */
@import '_hero.css';
@import '_hero.mobile.css';

/*! Page scroll */
html {
  scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 72px;
}

.mobile-scaner {
  top: -30px;
  bottom: auto  !important;
}
