/*! npm i && npm run build */
/*! CSS custom properties (variables) */
.hero {
  background-color: #1b6ce2;
  background-image: url("../assets/hero-bg.png"), linear-gradient(0deg, #1b6ae3 0%, #118ae3 100%);
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero__bg-video {
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero__scene {
  color: #fff;
  padding-top: 6.5vw;
  overflow: hidden;
}

.hero__h1 {
  z-index: 2;
  justify-content: space-between;
  font-size: 18vw;
  line-height: 1;
  display: flex;
  position: relative;
}

.hero__h1-left {
  position: relative;
}

.hero__h1-right {
  margin-top: 4.5vw;
  position: relative;
}

.hero__button {
  color: rgba(255, 255, 255, .75);
  z-index: 1;
  background: #c3e154;
  border: none;
  border-radius: 10vw;
  justify-content: center;
  align-items: center;
  padding: .4em .9em;
  font-size: 2.2vw;
  line-height: 1;
  display: inline-flex;
  position: relative;
}

.hero__button_type-big {
  padding: .75em 1.8em;
}

.hero__button__color-orange {
  background: linear-gradient(to right, #faaf4c, #fa8b4c);
  position: absolute;
  top: 6%;
  right: 12%;
}

.hero__button__color-sky {
  background: linear-gradient(to right, #6cafff, #6c8cff);
  position: absolute;
  top: -8%;
  right: 34%;
}

.hero__button__color-green {
  background: linear-gradient(to right, #c3e154, #92e154);
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero__button__color-yellow {
  background: linear-gradient(to right, #fdcd00, #fd9800);
  margin-left: 12.5vw;
}

.hero__button__color-violet {
  background: linear-gradient(to right, #fe99c4, #f37ce7);
}

.hero__button:hover {
  color: #fff;
}

.hero__button:hover:before {
  content: "";
  z-index: -1;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  padding: 50% 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .hero:not(.animate) .hero__button__color-orange:hover {
    -webkit-transform: rotate(29deg);
    transform: rotate(29deg);
  }

  .hero:not(.animate) .hero__button__color-sky:hover {
    -webkit-transform: rotate(29deg);
    transform: rotate(29deg);
  }

  .hero:not(.animate) .hero__button__color-green:hover {
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
  }

  .hero:not(.animate) .hero__button__color-yellow:hover {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  .hero:not(.animate) .hero__button__color-violet:hover {
    -webkit-transform: rotate(23deg);
    transform: rotate(23deg);
  }
}

.hero__description {
  z-index: 1;
  justify-content: space-between;
  margin-top: 2vw;
  font-size: 1.8vw;
  line-height: 1.25;
  display: flex;
  position: relative;
}

.hero__description-right {
  text-align: right;
}

.hero_description-text {
  margin-bottom: 2vw;
}

.hero__description a {
  color: currentColor;
  font-size: 1.3vw;
}

.hero__footer {
  z-index: 0;
  height: 40vw;
  margin-top: -13vw;
  position: relative;
}

@-webkit-keyframes headerFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes headerFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home-controller .header, .home-controller .navbar {
  position: absolute;
}

.home-controller .navbar.fixed {
  -webkit-animation: .5s ease-out headerFadeIn;
  animation: .5s ease-out headerFadeIn;
  position: fixed;
}

@media screen and (min-width: 768px) {
  @-webkit-keyframes slideInFromTop {
    0% {
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    50% {
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    100% {
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes slideInFromTop {
    0% {
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    50% {
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    100% {
      -webkit-transform: none;
      transform: none;
    }
  }

  .home-controller .header {
    -webkit-animation: 2s ease-out slideInFromTop;
    animation: 2s ease-out slideInFromTop;
  }

  @-webkit-keyframes heroFadeIn {
    0% {
      opacity: 0;
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    30% {
      opacity: .1;
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes heroFadeIn {
    0% {
      opacity: 0;
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    30% {
      opacity: .1;
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .hero__scene {
    -webkit-animation: 1s ease-out heroFadeIn;
    animation: 1s ease-out heroFadeIn;
  }

  .hero.idle .hero__h1-left {
    -webkit-transform: translate(-9vw);
    transform: translate(-9vw);
  }

  .hero.idle .hero__h1-right {
    -webkit-transform: translate(-22vw);
    transform: translate(-22vw);
  }

  .hero.idle .hero__footer {
    opacity: 0;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }

  .hero__h1-left, .hero__h1-right, .hero__button, .hero__footer, .hero__description-left, .hero__description-right {
    will-change: transform;
    transition: -webkit-transform 1s, transform 1s, padding 1s, font-size 1s, opacity .1s;
  }

  .hero.animate .hero__h1-left {
    -webkit-transform: translate(-9vw, 5vw);
    transform: translate(-9vw, 5vw);
  }

  .hero.animate .hero__h1-right {
    -webkit-transform: translate(-22vw, 5vw);
    transform: translate(-22vw, 5vw);
  }

  .hero.animate .hero__footer {
    -webkit-transform: translate(0, 20vw);
    transform: translate(0, 20vw);
  }

  :is(.hero.idle, .hero.animate) .hero__button {
    padding: .7vw 1.5vw;
    font-size: 1.8vw;
  }

  :is(.hero.idle, .hero.animate) .hero__button__color-green {
    -webkit-transform: translate(1vw, -1vw)rotate(19deg);
    transform: translate(1vw, -1vw)rotate(19deg);
  }

  :is(.hero.idle, .hero.animate) .hero__button__color-orange {
    -webkit-transform: translate(1vw)rotate(29deg);
    transform: translate(1vw)rotate(29deg);
  }

  :is(.hero.idle, .hero.animate) .hero__button__color-yellow {
    -webkit-transform: translate(21vw, -10vw)rotate(10deg);
    transform: translate(21vw, -10vw)rotate(10deg);
  }

  :is(.hero.idle, .hero.animate) .hero__button__color-sky {
    -webkit-transform: translate(3vw, 3vw)rotate(29deg);
    transform: translate(3vw, 3vw)rotate(29deg);
  }

  :is(.hero.idle, .hero.animate) .hero__button__color-violet {
    -webkit-transform: translate(-21vw, 3vw)rotate(23deg);
    transform: translate(-21vw, 3vw)rotate(23deg);
  }

  :is(.hero.idle, .hero.animate) .hero__description-left {
    -webkit-transform: translate(3vw, 8vw);
    transform: translate(3vw, 8vw);
  }

  :is(.hero.idle, .hero.animate) .hero__description-right {
    -webkit-transform: translate(-2vw, -4vw);
    transform: translate(-2vw, -4vw);
  }
}

@media screen and (max-width: 767px) {
  .hero__scene {
    padding-top: 30.5vw;
  }

  .hero__h1 {
    flex-direction: column;
    font-size: 30vw;
    line-height: .45;
    position: relative;
  }

  .hero__h1-right {
    text-align: right;
  }

  .hero__button {
    font-size: 4.5vw;
  }

  .hero__button_type-big {
    padding: .65em 1.5em;
  }

  .hero__button__color-orange {
    top: -92%;
    right: 39%;
  }

  .hero__button__color-sky {
    top: -80%;
    right: 4%;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  .hero__button__color-green {
    bottom: 98%;
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
  }

  .hero__button__color-yellow {
    margin: 0;
    position: absolute;
    top: 2%;
    left: -7%;
    -webkit-transform: rotate(-49deg);
    transform: rotate(-49deg);
  }

  .hero__button__color-violet {
    margin-top: 10vw;
    margin-bottom: 2vw;
  }

  .hero__description-left p {
    display: none;
  }

  .hero__description-right {
    flex-direction: column-reverse;
    display: flex;
  }

  .hero_description-text {
    font-size: 6vw;
    line-height: 1;
  }

  .hero__description a {
    display: none;
  }

  .hero__footer {
    height: 95vw;
    margin-top: 0;
  }

  .hero__h1-left, .hero__h1-right, .hero__button, .hero__footer, .hero__description-right {
    will-change: transform;
    transition: -webkit-transform 1s, transform 1s, padding 1s, font-size 1s;
  }

  .hero.animate .hero__h1-left {
    -webkit-transform: translate(-36vw);
    transform: translate(-36vw);
  }

  .hero.animate .hero__h1-right {
    -webkit-transform: translate(27vw);
    transform: translate(27vw);
  }

  .hero.animate .hero__footer {
    -webkit-transform: translate(0, -5vw);
    transform: translate(0, -5vw);
  }

  .hero.animate .hero__button {
    font-size: 3.1vw;
  }

  .hero.animate .hero__button__color-green {
    -webkit-transform: translate(33vw, -15vw)rotate(25deg);
    transform: translate(33vw, -15vw)rotate(25deg);
  }

  .hero.animate .hero__button__color-orange {
    -webkit-transform: translate(33vw, 5vw)rotate(25deg);
    transform: translate(33vw, 5vw)rotate(25deg);
  }

  .hero.animate .hero__button__color-yellow {
    font-size: 3.1vw;
    -webkit-transform: translate(29vw, -11vw)rotate(5deg);
    transform: translate(29vw, -11vw)rotate(5deg);
  }

  .hero.animate .hero__button__color-sky {
    -webkit-transform: translate(-53vw)rotate(-45deg);
    transform: translate(-53vw)rotate(-45deg);
  }

  .hero.animate .hero__button__color-violet {
    font-size: 3.1vw;
    -webkit-transform: translate(-41vw, -2vw)rotate(-12deg);
    transform: translate(-41vw, -2vw)rotate(-12deg);
  }

  .hero.animate .hero__description-right {
    -webkit-transform: translate(0, -1vw);
    transform: translate(0, -1vw);
  }
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 72px;
}

/*# sourceMappingURL=src/css/home.css.map */
