/*! npm i && npm run build */
/*! CSS custom properties (variables) */
.hero {
  z-index: 0;
  background-color: #1b6ce2;
  background-image: url("../assets/hero-bg.png"), linear-gradient(0deg, #1b6ae3 0%, #118ae3 100%);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.hero__bg-video {
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero__scene {
  --padding-top: min(6.5vw, var(--max-hero-scene-width) / 100 * 6.5);
  padding-top: var(--padding-top);
  color: #fff;
  max-width: var(--max-hero-scene-width);
  margin: 0 auto;
}

.hero__h1 {
  --font-size: min(18vw, var(--max-hero-scene-width) / 100 * 18);
  font-size: var(--font-size);
  z-index: 2;
  justify-content: space-between;
  line-height: 1;
  display: flex;
  position: relative;
}

.hero__h1-left {
  position: relative;
}

.hero__h1-right {
  --margin-top: min(4.5vw, var(--max-hero-scene-width) / 100 * 4.5);
  margin-top: var(--margin-top);
  position: relative;
}

.hero__button {
  --font-size: min(2.2vw, var(--max-hero-scene-width) / 100 * 2.2);
  --border-radius: min(10vw, var(--max-hero-scene-width) / 100 * 10);
  font-size: var(--font-size);
  border-radius: var(--border-radius);
  color: rgba(255, 255, 255, .75);
  z-index: 1;
  background: #c3e154;
  border: none;
  justify-content: center;
  align-items: center;
  padding: .4em .9em;
  line-height: 1;
  display: inline-flex;
  position: relative;
}

.hero__button_type-big {
  padding: .75em 1.8em;
}

.hero__button__color-orange {
  background: linear-gradient(to right, #faaf4c, #fa8b4c);
  position: absolute;
  top: 6%;
  right: 12%;
}

.hero__button__color-sky {
  background: linear-gradient(to right, #6cafff, #6c8cff);
  position: absolute;
  top: -8%;
  right: 34%;
}

.hero__button__color-green {
  background: linear-gradient(to right, #c3e154, #92e154);
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero__button__color-yellow {
  background: linear-gradient(to right, #fdcd00, #fd9800);
}

.hero__button__color-violet {
  background: linear-gradient(to right, #fe99c4, #f37ce7);
}

.hero__button:hover {
  color: #fff;
}

.hero__button:hover:before {
  content: "";
  z-index: -1;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  padding: 50% 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .hero:not(.animate) .hero__button__color-orange:hover {
    -webkit-transform: rotate(29deg);
    transform: rotate(29deg);
  }

  .hero:not(.animate) .hero__button__color-sky:hover {
    -webkit-transform: rotate(29deg);
    transform: rotate(29deg);
  }

  .hero:not(.animate) .hero__button__color-green:hover {
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
  }

  .hero:not(.animate) .hero__button__color-yellow:hover {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  .hero:not(.animate) .hero__button__color-violet:hover {
    -webkit-transform: rotate(23deg);
    transform: rotate(23deg);
  }
}

.hero__description {
  --margin-top: min(2vw, var(--max-hero-scene-width) / 100 * 2);
  --font-size: min(1.8vw, var(--max-hero-scene-width) / 100 * 1.8);
  z-index: 1;
  margin-top: var(--margin-top);
  font-size: var(--font-size);
  justify-content: space-between;
  line-height: 1.25;
  display: flex;
  position: relative;
}

.hero__description-right {
  text-align: right;
}

.hero_description-text {
  --margin-bottom: min(2vw, var(--max-hero-scene-width) / 100 * 2);
  margin-bottom: var(--margin-bottom);
}

.hero__description a {
  --font-size: min(1.3vw, var(--max-hero-scene-width) / 100 * 1.3);
  font-size: var(--font-size);
  color: currentColor;
}

.hero__footer {
  --height: min(40vw, var(--max-hero-scene-width) / 100 * 40);
  --margin-top: min(-13vw, var(--max-hero-scene-width) / 100 * -13);
  height: var(--height);
  margin-top: var(--margin-top);
  z-index: 0;
  position: relative;
}

@-webkit-keyframes headerFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes headerFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.home-controller .header, .home-controller .navbar {
  position: absolute;
}

.home-controller .navbar.fixed {
  -webkit-animation: .5s ease-out headerFadeIn;
  animation: .5s ease-out headerFadeIn;
  position: fixed;
}

@media screen and (min-width: 768px) {
  @-webkit-keyframes slideInFromTop {
    0% {
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    50% {
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    100% {
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes slideInFromTop {
    0% {
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    50% {
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    100% {
      -webkit-transform: none;
      transform: none;
    }
  }

  .home-controller .header {
    -webkit-animation: 2s ease-out slideInFromTop;
    animation: 2s ease-out slideInFromTop;
  }

  @-webkit-keyframes heroFadeIn {
    0% {
      opacity: 0;
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    30% {
      opacity: .1;
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes heroFadeIn {
    0% {
      opacity: 0;
      -webkit-transform: translate(0, -100%);
      transform: translate(0, -100%);
    }

    30% {
      opacity: .1;
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .hero__scene {
    -webkit-animation: 1s ease-out heroFadeIn;
    animation: 1s ease-out heroFadeIn;
  }

  .hero.idle .hero__h1-left {
    --x: min(-9vw, var(--max-hero-scene-width) / 100 * -9);
    -webkit-transform: translate(var(--x), 0);
    transform: translate(var(--x), 0);
  }

  .hero.idle .hero__h1-right {
    --x: min(-22vw, var(--max-hero-scene-width) / 100 * -22);
    -webkit-transform: translate(var(--x), 0);
    transform: translate(var(--x), 0);
  }

  .hero.idle .hero__footer {
    opacity: 0;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }

  .hero__h1-left, .hero__h1-right, .hero__button, .hero__footer, .hero__description-left, .hero__description-right {
    will-change: transform;
    transition: -webkit-transform 1s, transform 1s, padding 1s, font-size 1s, opacity .1s;
  }

  .hero.animate .hero__h1-left {
    --x: min(-9vw, var(--max-hero-scene-width) / 100 * -9);
    --y: min(5vw, var(--max-hero-scene-width) / 100 * 5);
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }

  .hero.animate .hero__h1-right {
    --x: min(-22vw, var(--max-hero-scene-width) / 100 * -22);
    --y: min(5vw, var(--max-hero-scene-width) / 100 * 5);
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }

  .hero.animate .hero__footer {
    --y: min(20vw, var(--max-hero-scene-width) / 100 * 20);
    -webkit-transform: translate(0, var(--y));
    transform: translate(0, var(--y));
  }

  :is(.hero.idle, .hero.animate) .hero__button {
    --font-size: min(1.8vw, var(--max-hero-scene-width) / 100 * 1.8);
    --padding-y: min(.7vw, var(--max-hero-scene-width) / 100 * .7);
    --padding-x: min(1.5vw, var(--max-hero-scene-width) / 100 * 1.5);
    font-size: var(--font-size);
    padding: var(--padding-y) var(--padding-x);
  }

  :is(.hero.idle, .hero.animate) .hero__button__color-green {
    --x: min(1vw, var(--max-hero-scene-width) / 100 * 1);
    --y: min(-1vw, var(--max-hero-scene-width) / 100 * -1);
    -webkit-transform: translate(var(--x), var(--y)) rotate(19deg);
    transform: translate(var(--x), var(--y)) rotate(19deg);
  }

  :is(.hero.idle, .hero.animate) .hero__button__color-orange {
    --x: min(1vw, var(--max-hero-scene-width) / 100 * 1);
    -webkit-transform: translate(var(--x), 0) rotate(29deg);
    transform: translate(var(--x), 0) rotate(29deg);
  }

  :is(.hero.idle, .hero.animate) .hero__button__color-yellow {
    --x: min(21vw, var(--max-hero-scene-width) / 100 * 21);
    --y: min(-10vw, var(--max-hero-scene-width) / 100 * -10);
    -webkit-transform: translate(var(--x), var(--y)) rotate(10deg);
    transform: translate(var(--x), var(--y)) rotate(10deg);
  }

  :is(.hero.idle, .hero.animate) .hero__button__color-sky {
    --x: min(3vw, var(--max-hero-scene-width) / 100 * 3);
    --y: min(3vw, var(--max-hero-scene-width) / 100 * 3);
    -webkit-transform: translate(var(--x), var(--y)) rotate(29deg);
    transform: translate(var(--x), var(--y)) rotate(29deg);
  }

  :is(.hero.idle, .hero.animate) .hero__button__color-violet {
    --x: min(-21vw, var(--max-hero-scene-width) / 100 * -21);
    --y: min(3vw, var(--max-hero-scene-width) / 100 * 3);
    -webkit-transform: translate(var(--x), var(--y)) rotate(23deg);
    transform: translate(var(--x), var(--y)) rotate(23deg);
  }

  :is(.hero.idle, .hero.animate) .hero__description-left {
    --x: min(3vw, var(--max-hero-scene-width) / 100 * 3);
    --y: min(8vw, var(--max-hero-scene-width) / 100 * 8);
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }

  :is(.hero.idle, .hero.animate) .hero__description-right {
    --x: min(-2vw, var(--max-hero-scene-width) / 100 * -2);
    --y: min(-4vw, var(--max-hero-scene-width) / 100 * -4);
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
}

:root {
  --max-hero-scene-width: 1440px;
}

@media screen and (max-width: 767px) {
  .hero__bg-video {
    display: none;
  }

  .hero__scene {
    padding-top: 30.5vw;
  }

  .hero__h1 {
    flex-direction: column;
    font-size: 30vw;
    line-height: .45;
    position: relative;
  }

  .hero__h1-right {
    text-align: right;
  }

  .hero__button {
    font-size: 4.5vw;
  }

  .hero__button_type-big {
    padding: .65em 1.5em;
  }

  .hero__button__color-orange {
    top: -92%;
    right: 39%;
  }

  .hero__button__color-sky {
    top: -80%;
    right: 4%;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  .hero__button__color-green {
    bottom: 98%;
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
  }

  .hero__button__color-yellow {
    margin: 0;
    position: absolute;
    top: 2%;
    left: -7%;
    -webkit-transform: rotate(-49deg);
    transform: rotate(-49deg);
  }

  .hero__button__color-violet {
    margin-top: 10vw;
    margin-bottom: 2vw;
  }

  .hero__description-left p {
    display: none;
  }

  .hero__description-right {
    flex-direction: column-reverse;
    display: flex;
  }

  .hero_description-text {
    font-size: 6vw;
    line-height: 1;
  }

  .hero__description a {
    display: none;
  }

  .hero__footer {
    height: 95vw;
    margin-top: 0;
  }

  .hero__h1-left, .hero__h1-right, .hero__button, .hero__footer, .hero__description-right {
    will-change: transform;
    transition: -webkit-transform 1s, transform 1s, padding 1s, font-size 1s;
  }

  .hero.animate .hero__h1-left {
    -webkit-transform: translate(-36vw);
    transform: translate(-36vw);
  }

  .hero.animate .hero__h1-right {
    -webkit-transform: translate(27vw);
    transform: translate(27vw);
  }

  .hero.animate .hero__footer {
    -webkit-transform: translate(0, -5vw);
    transform: translate(0, -5vw);
  }

  .hero.animate .hero__button {
    font-size: 3.1vw;
  }

  .hero.animate .hero__button__color-green {
    -webkit-transform: translate(33vw, -15vw)rotate(25deg);
    transform: translate(33vw, -15vw)rotate(25deg);
  }

  .hero.animate .hero__button__color-orange {
    -webkit-transform: translate(33vw, 5vw)rotate(25deg);
    transform: translate(33vw, 5vw)rotate(25deg);
  }

  .hero.animate .hero__button__color-yellow {
    font-size: 3.1vw;
    -webkit-transform: translate(29vw, -11vw)rotate(5deg);
    transform: translate(29vw, -11vw)rotate(5deg);
  }

  .hero.animate .hero__button__color-sky {
    -webkit-transform: translate(-53vw)rotate(-45deg);
    transform: translate(-53vw)rotate(-45deg);
  }

  .hero.animate .hero__button__color-violet {
    font-size: 3.1vw;
    -webkit-transform: translate(-41vw, -2vw)rotate(-12deg);
    transform: translate(-41vw, -2vw)rotate(-12deg);
  }

  .hero.animate .hero__description-right {
    -webkit-transform: translate(0, -1vw);
    transform: translate(0, -1vw);
  }
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 72px;
}

.mobile-scaner {
  top: -30px;
  bottom: auto !important;
}

/*# sourceMappingURL=src/css/home.css.map */
